@import './vars.scss';

.banner{
	background-color: white;
	color: $color-primary;
	text-align: center;
	h1{
		font-size: 3rem;
		margin: 0;
		align-items: center;
	}
	p{
		font-size: 1.5rem;
		margin: 0;
	}
	.banner-img{
		max-width: 450px;
		height: auto;
		transform: rotate(5deg);
	}
	.description{
		display: flex;
		align-items: center;
	}
}