@import './vars.scss';

.header {
  padding: 1rem;
	display: flex;
	justify-content: center;
}
.actionsMenu{
	position: absolute;
	right: 5%;
	float: right;
  display: flex;
  .item-menu {
    margin: 0 0.5rem;
  }
}
.optionsMenu{
	justify-content: center;
	display: flex;
	.item-menu{
		margin: 0 1rem;
	}
}

@media (max-width: 576px) {
	.header{
		padding: 0.5rem;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		top: 0;
		left: 0;
		z-index: 100;
		.optionsMenu{
			display: block;
			width: 100%;
		}
		.actionsMenu {
			position: fixed;
			bottom: 0;
			right: 0;
			justify-content: space-between;
			width: 100%;
			padding: 0.5rem;
			border-bottom: 1px solid $color-gray;
			.item-menu{
				font-size: 1.7rem;
			}
		}
	}
}
@media (max-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
